<style>
  .modal-dialog{
    width: 70% !important;
  }

  .highlight{
    color: red;
  }
</style>
<div class="modal-header">
  <h4 class="modal-title">
    <i class="fa fa-table"></i>
    Busqueda de Productos
  </h4> 
</div> 
<div class="modal-body">
	<div class="form-group row">
      <div class="col-xs-2 col-xs-offset-3">
          <label>Buscar Producto:</label>
      </div>
      <div class="col-xs-4">
         <input ng-model="producto_create.buscar" type="text" class="form-control"/>
      </div>
  </div> 
  <div class="form-group ">
      <table id="table_main" class="table table-hover">
          <tfoot style="display: table-header-group;">
              <tr>
                  <th style="width: 10%"></th>
                  <th style="width: 30%"><input  ng-model="producto_create.search.nombre_producto" type="text" class="form-control"></th>
                  <th style="width: 15%"><input  ng-model="producto_create.search.peso" type="text" class="form-control"></th>
                  <th style="width: 15%"><input  ng-model="producto_create.search.unidad_medida.nombre_unidad_medida" type="text" class="form-control"></th>
              </tr>
          </tfoot>
          <thead>
              <tr >
                  <th style="width=10%">Codigo</th>
                  <th style="width=30%">Producto</th>
                  <th style="width=15%">Peso</th>
                  <th style="width=15%">Unidad de Medida</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-click="seleccionar(x)" ng-repeat="x in productos  | filter:producto_create.search:strict | filter:producto_create.buscar" style="cursor: pointer;">
                  <td >/% x.codigo_producto %/ </td>
                  <td >/% x.nombre_producto %/</td>
                  <td >/% x.peso %/</td>
                  <td >/% x.unidad_medida.nombre_unidad_medida %/</td>
              </tr>
          </tbody>
          
      </table>
  </div>
</div>
	
