<div class="modal-header">
	<h3 class="modal-title">Confirmaci&oacute;n de cancelaci&oacute;n <small><i class="fa fa-close pull-right" style="cursor:pointer;" ng-click="$dismiss()"></i></small></h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12 text-center">
		    <img src="dist/img/icon-modal-error.svg" style="height:160px; width:160px;">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<p>¿Esta seguro de cancelar el Comprobante?</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-block btn-danger" data-toggle="tooltip" data-placement="top" title="Cancelar" ng-click="$dismiss()">No</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-block modal-btn-success" data-toggle="tooltip" data-placement="top" title="Confirmar" ng-click="yes()">Si</button>
		</div>
	</div>
</div>