<style>
  .modal-dialog{
    width: 70% !important;
  }
</style>
<div class="modal-header bg-info">
  <h3 class="modal-title"><i class="fa fa-plus"></i> Agregar Personal</h3> 
</div> 
<form id="create_form">
<div class="modal-body">

  <div class="form-group row">
    <div class="col-md-2 text-right">
      <label>Nombre del Personal</label>
    </div> 
    <div class="col-md-3">
      <input ng-model="personalTransporte.nombre_personal" type="text" class="form-control validate[minSize[1],maxSize[200]]"/>
    </div>
    <div class="col-md-2 text-right">
      <label>Licencia de Conducir</label>
    </div> 
    <div class="col-md-3">
      <input ng-model="personalTransporte.licencia_personal" type="text" class="form-control validate[required]"/>
    </div> 
  </div>
  <div class="form-group row">
    <div class="col-md-2 text-right">
      <label>Empresa de Transporte</label>
    </div> 
    <div class="col-md-3">
      <select ng-model="personalTransporte.transporte" ng-options="item as item.razon_social for item in empresasTransporte track by item.id" class="form-control">
        <option value="">--Seleccione--</option>
      </select>
    </div> 
  </div>
  
</div>
</form>

<div class="modal-footer bg-info">
  
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <button class="btn modal-btn-success btn-block" data-toggle="tooltip" data-placement="top" title="Aceptar" ng-click="store()">Guardar</button>
      
    </div>
    <div class="col-md-5">
      <button class="btn btn-default btn-block" data-toggle="tooltip" data-placement="top" title="Cancelar" ng-click="$dismiss()">Cancelar</button>
      
    </div>
  </div>
</div>